<!-- Modal -->
<div class="modal-header">
    <!--<h4 class="modal-title">{{my_modal_title}}</h4>-->
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <div class="card mb-3" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img [src]="my_modal_image" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{my_modal_title}}</h5>
            <p class="card-text">Fecha de Creación: <small class="text-muted">{{ my_modal_date | date : 'short' }}</small></p>
            <p class="card-text">Descripción Corta: <small class="text-muted">{{ my_modal_shortcontent}}</small></p>
            <span>Descrición Larga: <p> {{my_modal_longcontent}}</p></span>
          </div>
        </div>
      </div>
    </div>
    <!--<p> {{my_modal_content}}</p>-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
