<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #827ffe;">
    <label class="navbar-brand m-auto">
      <img src="/assets/images/icons/icon-google.png" width="30" height="30" alt="" loading="lazy">
      ExpectrumApp
    </label>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  </nav>
